.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  padding: 20px;
}

.login__decor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #232f3d;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__decor-icon {
  max-width: 80%;
  height: auto;
  display: block;
}

.login__auth {
  text-align: center;
}

.login__title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #fff;
}

.login__subtitle {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 1.8em;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}

.login__input {
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: 2px solid transparent;
  border-bottom-color: var(--blueColor);
  border-radius: 4px;
  padding: 6px 10px;
  box-sizing: border-box;
}

.login__input:focus {
  outline: none;
  border-color: var(--blueColor);
}

.login__error {
  position: absolute;
  top: calc(100% + 5px);
  font-size: 0.7em;
  color: red;
}

.login__button {
  background-color: var(--blueColor);
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 8px 20px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.login__button:hover {
  background-color: #3b7bbd;
}

.login__button:focus {
  border-color: #03a9f4;
}
