.login
  .login__wrapper 
    .login__decor 
      img.login__decor-icon(src=require("./pig.png"))
    .login__auth 
      .login__title Авторизация
      .login__subtitle Введите пожалуйста свой ник для дальнейшей авторизации
      form.login__form
        .login__input-wrapper
          input.login__input(placeholder="Введите свой ник" data-role="login-input")
          .login__error(data-role="login-error")
        button.login__button(data-role="login-submit") Войти
