.modal
  .modal__title Загрузка фото
  .modal__loader
    .modal__preview 
    label.modal__label 
      input.modal__input(type="file")
      .modal__load-btn.chat-btn Загрузить фото
  button.modal__save-btn.hidden.chat-btn Сохранить
  button.modal__close-btn &#215;

