.chat {
  display: flex;
  height: 100vh;
}

.chat__aside {
  overflow: auto;
  flex-basis: 30%;
  flex-shrink: 0;
  padding: 25px 15px;
}

.chat__main {
  flex: 1;
}

.current-user {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}

.user {
  display: flex;
  margin: 14px 0;
}

.user-avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  background-color: var(--blueColor);
}

.current-user .user-avatar {
  cursor: pointer;
  position: relative;
}

.current-user .user-avatar.plus-sign::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 40px;
}

.user-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.user__info {
  margin-top: 6px;
}

.user-name {
  color: var(--blueColor);
  margin-bottom: 8px;
}

.user__message {
  font-weight: 300;
}

.chat__main {
  border-left: 1px solid #0e1621;
  display: flex;
  flex-direction: column;
}

.chat__header {
  padding: 12px 20px;
}

.chat__members {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 8px;
}

.chat__comments {
  overflow: auto;
  flex: 1;
  padding: 10px;
  background-color: #0e1621;
}

.chat__form {
  display: flex;
  padding: 10px;
}

.chat__input {
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 6px 10px;
  box-sizing: border-box;
  margin-right: 20px;
}

.chat__input:focus {
  outline: none;
}

.chat-btn {
  background-color: var(--blueColor);
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 0.9em;
  padding: 6px 18px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.chat-btn:hover {
  background-color: #3b7bbd;
}

.chat-btn:focus {
  border-color: #03a9f4;
}

.comment {
  --bgColor: var(--darkBlueColor);

  display: flex;
  padding: 10px;
}

.comment__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  display: flex;
  align-items: flex-end;
  font-weight: 300;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--bgColor);
  margin-bottom: 6px;
}

.message::last-child {
  margin-bottom: 0;
}

.message__text {
  color: #fff;
  flex: 1;
  font-size: 0.8em;
}

.message__date {
  flex-shrink: 0;
  margin-left: 10px;
  color: #e0e0e0;
  font-size: 0.7em;
}

.message__status {
  text-align: center;
  font-size: 0.9em;
}

.comment.reverse {
  --bgColor: var(--blueColor);

  flex-direction: row-reverse;
}

.comment.reverse .user-avatar {
  margin-left: 15px;
  margin-right: 0;
}

.comment.reverse .user-name {
  text-align: right;
}

.comment.reverse .comment__list {
  align-items: flex-end;
}

.modal {
  position: absolute;
  top: 50%;
  left: 9999px;
  transform: translate(-50%, -50%);
  background-color: #1b2733;
  padding: 30px;
}

.modal.open {
  left: 50%;
}

.modal__title {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 30px;
}

.modal__loader {
  display: flex;
  align-items: center;
}

.modal__preview {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--blueColor);
  margin-right: 30px;
}

.modal__input {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
}

.modal__save-btn {
  font-size: 0.8em;
  margin-top: 25px;
}

.modal__save-btn.hidden {
  opacity: 0.7;
  pointer-events: none;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #000;
}
