#chat-container.chat
  aside.chat__aside  

  main.chat__main
    .chat__header
      .chat__title Чат
      .chat__members
    .chat__comments
    form.chat__form
      input.chat__input(placeholder="Введите сообщение")
      button.chat__button.chat-btn Отправить

  include ./avatar-modal.pug