.login
  .login__wrapper 
    .login__decor 
      img.login__decor-icon(src=require("./pig.png"))
    .login__auth 
      .login__title Авторизация
      .login__subtitle Введите пожалуйста свой ник для дальнейшей авторизации
      form.login__form
        input.login__input(placeholder="Введите свой ник")
        button.login__button Войти
